html {
  background-color: #e2e0e1;
  font-family: Arial, Helvetica;
}

/* 版心大小 */
.container {
  width: 1190px;
  margin: 0 auto;
}

/* #region顶部start */
.topbar-message {
  background-color: #e2e0e1;
}

.message-bg {
  /* background-color: #eeeded; */
  /* width: 2000px; */
  font-size: large;
  padding: 8px;
  font-weight: bold;
}

.topbar-banner {
  padding-left: 20px;
  /* background-color: rgb(160, 163, 137); */
  height: 300px;
  background-image: url('../theme/images/banner.png');
}

/* #endregion顶部end */

/* #region内容区start */

.main-category {
  width: 820px;
  height: 32px;
  /* padding: 3px; */
  background-color: yellow;
}

/* 内容区文章列表 */
.main-article-list {
  width: 820px;
  height: 1030px;
  /* background-color: rgb(255, 0, 17); */
}

/* 内容区一行文章 */
.main-article-row {
  /* background-color: aquamarine; */
  height: 250px;
  margin: 0;
}

.article-img {
  height: 120px;
}

.article-other {
  background-color: rgb(176, 176, 183);
}

.artivle-title {
  height: 30px;
}

.artivle-abstract {
  height: 75px;
  /* background-color: rgb(167, 109, 109); */
}

.artivle-publish {
  height: 25px;
  /* background-color: beige; */
}

.main-page {
  width: 820px;
  height: 32px;
  background: yellow;
}

/* #endregion内容区end */

/* #region内容区侧边栏start */
.author-info {
  margint: 0px;
  height: 385px;
  background-color: rgb(220, 123, 150);
}

.main-article-record {
  background-color: aquamarine;
  height: 450px;
  margin: 0;
}

.main-article-record-row {
  /* background-color: aquamarine; */
  height: 100px;
  margin: 0;
}

.record-bg {
  background-color: #9a79b2;
  padding: 10px;
}

.main-article-record {
  background-color: rgb(210, 137, 149);
  height: 450px;
  margin: 0;
}

.article-count-bg {
  background-color: #c44242;
  height: auto;
}

/* #endregion内容区侧边栏end */


/* #region页脚start */
.footer {
  margint: 0px;
  /* height: 485px; */
  background-color: black;
}

.footer-group {
  margin-top: 130px;
  /* height: 100px; */
  background-color: yellow;
}

.footer-badge {
  /* height: 22px; */
  background-color: rgb(181, 66, 99);
}

.footer-blank {
  width: 234px;
  /* height: 22px; */
  background-color: rgb(181, 66, 99);
}

.shields {
  /* height: 100px; */
  margin: 5px;
}

.footer-copyright {
  height: 100px;
  margin-left: 515px;
  background-color: rgb(134, 168, 129);
}

/* #endregion页脚end */